import 'base'

html {
    height: 100%;
    border: 10px red solid;
}

}
head{
    display: block
}
body{
    background-color: yellow;
    border: 10px dashed red;
    height: 100%
}
header {
    background-image: url(images/home.jpg)
        height: 100vh
    background-size: cover; 
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
p {
    max-width: 600px;
    margin: 0 auto 20px;
}

