import 'base'

html {
    height: 100%;
    border: 10px red solid;
}

}
head{
    display: block
}
body{
    background-color: burlywood;
    border: 10px;
    height: 50%;
    background-image: url(/images/home.jpg);
    background-size: cover;
    height: 100vh;
        
}
header { 
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
        
}

p {
    max-width: 600px;
    margin: 0 auto 20px;
}

a {
    text-decoration: none
}

li {
    border-style: none;
}
